*{
  font-family: Arial, Helvetica, sans-serif;
}

h1{
  text-align: center;
}

.callout{
  border: 1px solid black;
  border-radius: 3px;
  padding: 20px;
  background-color: #c0fffe;
}

.bx{
  font-size: 50px;
}

.bxs-heart{
  color: rgb(241, 95, 120);
}

.bxs-like{
  color: rgb(55, 55, 252);
}